@using EventEase.Data

@code {
    [Parameter]
    public EventModel Event { get; set; } = new();

    [Parameter]
    public EventCallback<int> OnRegister { get; set; }

    private async Task RegisterForEvent(int id){
    await OnRegister.InvokeAsync(id);
    }


}

<div class="card m-3 p-3 shadow-sm rounded">
    <h3>@EventTitle</h3>
    <p><strong>Location: </strong>@Location</p>
    <p><strong>Atendees: </strong>@Atendees</p>
    <button class="btn  btn-primary" @onclick="() => RegisterForEvent(Event.Id)">Register</button>
</div>