@using EventEase.Data
@using Microsoft.AspNetCore.Components

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Event.EventName</h5>
        <p class="card-text">Location: @Event.Location</p>
        <p class="card-text">Attendees: @Event.Attendees</p>
    </div>
</div>

@code {
    [Parameter]
    public EventModel Event { get; set; } = new EventModel();
}
