@page "/"

<h1>Upcoming Events</h1>

@foreach (var evt in Events)
{
    <EventCard EventName="@evt.EventName" EventDate="@evt.EventDate" Location = "@evt.Location" />
}
@code {
    private List<EventModel> Events = new()
    {
        new EventModel         {
            EventName = "Programmers Day 2025",
            EventDate = new DateTime(2025, 09, 24),
            Location = "Chisinau, Republic of Moldova"
        },

        new EventModel
        {
            EventName = "Summer FAF x Sigomid Hackathon 2025",
            EventDate = new DateTime(2025, 06, 20),
            Location = "Chisinau, Republic of Moldova"
        }
    };

    public class EventModel
    {
        public string EventName { get; set; } = string.Empty;
        public DateTime EventDate { get; set; }
        public string Location { get; set; } = string.Empty;

    }

}
