@page "/"
@inject NavigationManager Nav

<h1>Welcome to EventEase!</h1>

<p>Check out our upcoming events or register for one!</p>

<button class="btn btn-primary" @onclick='() => Nav.NavigateTo("/events")'>
    View Events
</button>

<button class="btn btn-secondary" @onclick='() => Nav.NavigateTo("/register")'>
    Register
</button>
