@page "/"
@inject NavigtionManager Nav
@inject EventEase.Data.SessionState Session



<h2>Wellcome to EventEase</h2>

@if (Session.IsRegistered){

   <p>Hello, <b>@Session.UserName</b>! Chacko out the available events:</p>
    <button class="btn btn-secondary" @onclick="() => Nav.NavigateTo("/events")">View Event Details</button>
} else {
    <p>You are not registered yet.</p>
    <button class="btn btn-primary" @onclick="() => Nav.NavigateTo("/register")">Register Now</button>}
