<nav class="nav flex-column p-3 border-end">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/register">Register</a>
    <a class="nav-link" href="/events">Events</a>
</nav>
